<!DOCTYPE html>
<html>
<head>
    <title>Regression Prediction</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Regression Prediction</h1>
    <form method="POST" action="{{ url_for('predict') }}">    
        <label for="ResidualDemand">Residual Forecast:</label>
        <input type="text" id="ResidualDemand" name="ResidualDemand"><br><br>
        
        <label for="RSAContractedDemand">RSA Contracted Forecast:</label>
        <input type="text" id="RSAContractedDemand" name="RSAContractedDemand"><br><br>
        
        <label for="ThermalGeneration">Thermal Generation:</label>
        <input type="text" id="ThermalGeneration" name="ThermalGeneration"><br><br>
        
        <label for="PumpedWaterGeneration">Pumped Water Generation:</label>
        <input type="text" id="PumpedWaterGeneration" name="PumpedWaterGeneration"><br><br>
        
        <label for="PumpedWaterSCOPumping">Pumped Water SCO Pumping:</label>
        <input type="text" id="PumpedWaterSCOPumping" name="PumpedWaterSCOPumping"><br><br>
        <button>Predict Demand</button>
        </form>
        {% if prediction %}
            <p>Predicted Demand: {{ prediction }}</p>
        {% endif %}
    </body>
    </html>
